$first-color: #0051cd;
$text-color: #5e6c84;

.jira-app {
    padding-bottom: 2rem;
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0 1.75rem;
        background: $first-color;

        img {
            width: 250px;
        }

        div:last-child {
            text-align: right;

            button {
                background: #fff;
            }
        }
    }

    main {
        .scrum {
            margin-left: 1.75rem;
            font-size: 1.5rem;
            color: $text-color;
        }

        .titles {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align: center;
            gap: 20px;
            margin: 1.75rem;

            span {
                color: $text-color;
                border-bottom: solid 1px #ddd;
            }
        }

        .board {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align: center;
            gap: 20px;
            margin: 1.75rem;

            .list {
                border: solid 1px #ccc;
                min-height: 60px;
                background: white;
                border-radius: 4px;
                overflow: hidden;
                display: block;
            }
        }
    }
}

.box {
    padding: 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-content: space-between;
    cursor: move;
    background: white;
    font-size: 0.75rem;

    &:last-child {
        border: none;
    }

    div:first-child {
        display: grid;
        text-align: left;

        span:first-child {
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 0.85rem;
            margin-top: 0.5rem;
        }
    }

    img {
        width: 30px;
        border-radius: 50%;
    }
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
