<div class="jira-app">
    <header>
        <div>
            <img src="assets/images/jira-logo.png">
        </div>
        <div>
            <span>John Smith</span>
            <mat-icon>account_circle</mat-icon>
        </div>
    </header>

    <main>
        <div class="divider">
            <div>
                <span class="scrum">Scrum Board</span>
            </div>
            <div>
                <button mat-raised-button
                        color="primary"
                        (click)="createTicket()">
                    <mat-icon>add</mat-icon>
                    Create new ticket
                </button>
            </div>
        </div>
        <div class="titles">
            <span>TO DO</span>
            <span>IN PROGRESS</span>
            <span>IN REVIEW</span>
            <span>TESTING</span>
            <span>HOLD</span>
            <span>Done</span>
        </div>

        <div class="board"
             cdkDropListGroup>
            <div *ngFor="let state of ticketData">
                <div cdkDropList
                     [cdkDropListData]="state?.data"
                     (cdkDropListDropped)="dropTicket($event)"
                     class="list">
                    <div *ngFor="let item of state?.data"
                         class="box"
                         cdkDrag>
                        <div>
                            <span>
                                {{item?.ticket}}
                            </span>
                            <span>
                                {{item?.summary}}
                            </span>
                            <hr>
                            <span>
                                {{item?.description}}
                            </span>
                        </div>
                        <div class="photo">
                            <img [matTooltip]="item?.employee?.name + ' ' + item?.employee?.surname"
                                 [src]="item?.employee?.photo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>